@import "tailwindcss/base";

:root {
	--background-color: #eceff1;
	--text-and-border-color: #020420;
	--primary-color: #536dfe;
	--surface-color: #fafafa;
}

body,
html {
	height: 100%;
	width: 100%;
	@apply bg-light text-black font-sans;
}

.dark {
	--background-color: rgb(17, 24, 39);
	--text-and-border-color: #eceff1;
	--primary-color: #ef6c00;
	--surface-color: #0d2847;
}

@import "sass-easing/_easings";

@import "typography";
@import "cms";
@import "underline-effect";
