.app__about {
  background-color: $light;
  line-height: 1.5;
  padding: 1rem 0;
  border: $modal-border solid $black;

  &--container {
    font-weight: 400;

    a {
      color: $pimper;
    }
  }

  &--text {
    width: $about-container;
    margin: auto;
    display: block;
    max-width: 35rem;
  }

  &--networks {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }

  &--icon {
    height: 2rem;
    display: block;
    opacity: 1;

    &:hover,
    &:focus {
      opacity: .5;
    }

    svg {
      height: 100%;
      * {
        fill: $black;
      }
    }

    #Codepen_1_ {
      fill: $black;
    }
  }

  .close {
    display: block;
    fill: $black;
    stroke: $black;
  }
}
