@import 'globals/colors';
@import 'globals/typography';
@import 'globals/layout';
@import 'globals/animations';

@import 'modules/functions';
@import 'partials/reset';

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
