.app-to-top {
  position: fixed !important;
  right: 3rem;
  bottom: 3rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  color: $white;
  border-radius: .5rem;
  background-color: black;
  position: relative;
  margin-top: 1rem;
}
