button {
  cursor: pointer;
}

[tabindex="1"],button, a {
  outline-color: $pimper !important;
}

// reset
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Make `a` like a button */
[role="button"] {
    color: inherit;
    cursor: default;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space: pre;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}

.app-to-top {
    background: $pimper;
    border-radius: 3px;
    bottom: 1.5rem;
    box-shadow: 0 10px 20px rgba($pimper, 0.19), 0 6px 6px rgba($pimper, 0.23);
    display: table-cell;
    height: 2.75rem;
    opacity: 0.65;
    position: fixed;
    right: 1.5rem;
    transition: opacity 0.15s ease-out;
    width: 2.75rem;
    border: none;

    &.hide {
      opacity: 0;
      pointer-events: none;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }

    svg {
      fill: $white;
      display: block;
      margin: auto;
      width: 70%;
      stroke-width: 20;
    }
}

.btn {
  display: inline-block;
  padding: .5rem 1rem;
  color: $black;
  position: relative;
  margin-top: 1rem;
  border: thin solid $black;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;

  &.close {
    background: $black;
    color: white;
    border: none;
    display: inline-flex;
    stroke: white;
    fill: white;

    svg {
      margin-bottom: 3px;
      height: 1.25rem;
      stroke-width: 1.5rem;
      margin-right: .25rem;
    }
  }

  &.visit {
    background: linear-gradient(to right, #fd746c, #ff9068);
    color: white;
    border: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &.cta {
    color: white;
    border: none;
    animation-duration: .2s;
    animation-delay: .3s;
    border-radius: .35rem;
    transition: .3s ease-out, box-shadow .2s ease-in;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
