.carousel {
  width: 92%;
  height: 91vh;
  margin: 4.5vh auto;
  display: flex;
  flex-direction:column;
  align-items: center;
  border: 1px solid black;

  &__header {
    flex: 0;
    padding: $padding-header-footer;

    &--menu {
      display: flex;
    }
  }

  &__content {
    height: 100%;
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__aside {
    text-align: center;

    .number {
      padding: .25rem 0;
    }

    .divider {
      border-top: 1px solid black
    }

    .pagination {
      margin-left: -100%;
      background: $white;
      display: inline-block;
    }
  }

  &__main {
    padding: 0 3rem;
    height: 100%;
    width: 100%;
    flex-direction: row;
    display:flex;
    align-items: center;

    &--container {
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;

      > div {
        padding: 0 1rem;
      }
    }

    &--text {
      width: 30%;
      min-width: 280px;
    }

    &--img {
      height: 70%;
      width: 70%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      border: 2px solid rgba(211, 211, 211, .25);
    }
  }


  &__footer {
    background: $white;
    padding: 0 1rem;
    position: absolute;
    bottom: 3vh;
  }

  &__wire {
    border: 1px solid $pimper;
    padding: .15rem 1.5rem;
    background: $white;
    font-size: .75rem;
    text-transform: uppercase;
    position: relative;
    opacity: .15;

    &::before {
      content: '';
      position: absolute;
      width: 1px;
      left: calc(49% - 1px);
      height: 107%;
      background: $pimper;
      top: 100%;
    }
  }

  &__progress {
    width: 100%;
    height: 5px;
    background: $pimper;
    animation-name: progress;
    animation-iteration-count: infinite;
    transform-origin: 0 0;
    transition-timing-function: linear;
  }

  &__arrow {
    display: inline-flex;
    flex-direction: column;
    transform: rotate(-90deg);
    svg {
      height: 2rem;
      width: 2rem;
    }
    &--next {
      transform: rotate(180deg);
    }
  }

  @keyframes progress {
    0% {
      transform: scaleX(0);
    }

    100% {
      transform: scaleX(1);
    }

  }
}
