.carousel {
  width: 85%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction:column;
  align-items: center;

  &__header {
    &--menu {
      display: flex;
    }
  }

  &__aside {
    display: flex;
    align-content: space-between;
    width: 100%;

    .number {
      padding: .25rem 0;
    }

    .divider {
      border-top: 1px solid black
    }
  }
}
