.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  background: $white;
  z-index: 3;
  opacity: 1;
  pointer-events: none;
  transition: opacity .5s 1.3s ease-out;

  svg {
    height: 25%;
    min-height: 10rem;

    polygon {
      animation: glow 1s ease-in-out 0s normal running infinite;
    }

    polyline,
    line {
      stroke-dasharray: 1200;
      stroke-dashoffset: 1200;
      transition: stroke-dashoffset 2s .25s cubic-bezier(0.39, 0.575, 0.565, 1);
    }
  }

  &.loaded {
    opacity: 0;

    polygon {
      animation: glow .75s ease-in-out 0s normal running 1 forwards;
    }

    polyline,
    line {
      stroke-dashoffset: 0;
    }
  }
}

.st0 {
  fill: $white;
}
