.me {
  display: flex;
  align-items: center;
  // flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  p {
    flex: 1;
    padding: 0 1rem;
    font-size: calc( 1rem + 1vh);
    font-weight: 400;
    max-width: 650px;
    line-height: 1.5;
    margin: auto;
    z-index: 1;
  }

  a {
    color: $black;
    transition: color .15s ease-in-out;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $pimper;

    }
  }

  .underline {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      animation: progress .5s ease-in-out;
      transform-origin: 0 0;
      height: 3px;
      left: 0;
      bottom: -4px;
      background: $pimper;
    }
  }

  &__networks {
    position: relative;
    max-width: calc(650px - 2rem);
    width: 100%;

    &--container {
      position: absolute;
      display: flex;
      width: 100%;
      flex: 1;
      left: 1.5rem;
      top: 2rem;
    }

    &--icon {
      margin: 0 1rem;
      height: 1.75rem;
      display: block;
      animation-duration: .5s;
      animation-timing-function: ease-out;

      @for $i from 1 to 10 {
        &:nth-of-type(#{$i}) {
          animation-delay: #{.1 * $i}s
        }
      }

      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }

      svg {
        height: 100%;

        * {
          fill: $black;
          transition: .15s;
        }

          &:hover {
            * {
              fill: $pimper;
            }
          }
      }
    }
  }

  &__text {
    display: flex;
    align-items: center;
  }


  .carousel__progress {
    width: 100%;
  }

    @media screen and (max-width: $main-breakpoint) {
      .carousel__arrow {
        margin: 0;
      }

      &__networks {
        display: none;
      }
    }

}
