.big-modal {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  font-weight: 500;
  justify-content: center;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  z-index: 4;
  opacity: 0;
  padding: #{$modal-border * 1};
  transform: scale(.7);
  transition: .3s ease-in-out, transform .15s;

  &__container {
    overflow-y: auto;
    padding: 1rem 0;
    scroll-behavior: smooth;
  }

  &.open {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
  }

  p {
    margin: 1rem 0;
    width: 100%;
    font-size: 1rem;
  }

  .close {
    margin: 0 auto 2rem auto;
    fill: $light;

    svg {
      height: 3rem;
      stroke-width: .4rem;
    }
  }
}

.app {

  &__menu {
    color: $light;
    background-color: $black;
    border: $modal-border solid $light;

    .close {
      stroke: $light;
    }

    .st0 {
      fill: $black;
    }

    &--list {
      font-weight: 400;
      padding-left: 0;
      list-style: none;
      text-align: center;
      width: 100%;
      text-transform: uppercase;
      z-index: 1;
      font-size: 2rem;
      margin: auto;
      display: block;
      transition: transform .3s .1s;
    }

    &--item {
      cursor: pointer;
      margin: .5rem auto;
      font-size: 1.5rem;
      opacity: 1;
      transition: opacity .15s ease-in-out;

      &.active {
        color: $pimper;
        font-weight: bold;
      }

      &:hover {
        opacity: .5;
      }
    }
  }
}

