.post {
  // margin-bottom: 3rem;

  .sticky {
      z-index: 1;

      .post__header{
        border-bottom: 1px solid lightgray;
        border-top: 1px solid lightgray;

        &--title {
          display: block
        }
    }
  }

  &__modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 2;
    animation-duration: .15s;
    top: 0;
    display: flex;
    background: url('src/media/img/texture/light.jpg') no-repeat center center , $white;

    &--img {
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
      display: block;
      margin: auto;
      animation-duration: .25s;
      animation-delay: .15s;
      max-height: 90%;
      max-width: 100%;
    }
  }

  &__header {
    display: flex;
    width: $main-container;
    margin: auto;
    align-items: center;
    background: $white;
    justify-content: space-between;

    &--title {
      letter-spacing: 1px;
      margin: 0;
      display: none;
    }

    .btn {
      margin: .5rem;
    }
  }

  &__collaborator {
    padding: 1.5rem;

    a {
      color: $white;
      opacity: .7;
      font-weight: normal;
    }

    &s {
      margin-top: 2rem;
      display: flex;
      flex-wrap: wrap;
      font-size: .85rem;
      background: url('src/media/img/texture/dark.jpg') no-repeat center center , $black;
      background-size: cover;
      text-align: center;
      justify-content: space-around;
      color: $white;
      font-weight: bold;

    }
  }

  &__footer {
    display: flex;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid lightgray;


    button {
      width: 50%;
      height: 4rem;
      opacity: 1;
      border-top: 1px solid lightgray;
      transition: opacity .15s ease-in-out;

      a {
        text-decoration: underline !important;
      }

      &:last-of-type {
        width: calc(50% - 1px);
        border-left: 1px solid lightgray;
      }

      &:hover,
      &:focus {
        opacity: .3;
      }
    }

    &--end {

      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid lightgray;

      svg {
        height: 66%;
      }
    }

    > div {
      padding: 1rem;
      width: 40%;
      border: 1px solid $black;
    }
  }

  @media screen and (max-width: $main-breakpoint) {
    &__header {
      &--title {
        display: none!important;
      }

      &--controls {
        display: none;
      }

      &--links {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
    }

    &__footer {
      button {
        width: 100%;
        &:last-of-type {
          width: 100%;
        }
      }
    }

    #blogPostContainer {
      img, iframe, twitterwidget {
        width: 100%;
        height: auto;
        max-width: 100%;
        max-height: none;
      }
    }
  }

}

.fill {
  opacity: 1;
}

#blogPostContainer {
  padding: 2em;
  box-shadow: 0 1rem 2rem lightgrey;
  width: $main-container;
  margin: auto;
  background: url('src/media/img/texture/light.jpg') repeat-y center center , $white;

  h1, h2, h3, h4 {
    font-family: $fancy-font;
  }

  i {
    font-weight: 300;
  }

  img, .sketchfab-embed-wrapper {
    opacity: 0;
  }

  img, iframe, twitterwidget {
    max-width: 70%;
    margin: 1rem auto;
    display: block;
    max-height: 50vh;
    box-shadow: 0 .25rem .5rem rgb(145, 145, 145);
  }

  h3 {
    margin-top: 3.5rem;
  }

  twitterwidget {
    max-height: none;
    box-shadow: none;
  }

  p, img, twitterwidget {
    margin: 1.5rem auto;
    line-height: 1.5;
  }

}
