.post {
  margin-bottom: 3rem;

  &__modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 2;
    top: 0;
    display: flex;

    background: url('src/media/img/texture/light.jpg') no-repeat center center , $white;

    &--img {
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
      display: block;
      margin: auto;
      max-height: 90%;
      max-width: 100%;
    }
  }

  &__wire {
    width: 1px;
    background: $pimper;
    margin-left: calc(50% - 3px);
    height: 3rem;
    position: relative;
    opacity: .15;

  }

  &__header {
    display: flex;
    width: 100%;
    align-items: center;
    background: $white;
    padding: 1rem 0;

    .btn {
      margin: 0;
    }
  }

  &__collaborator {
    padding: 1.5rem;
    &s {
      margin: 2rem 0;
      display: flex;
      flex-wrap: wrap;
      background: url('src/media/img/texture/dark.jpg') no-repeat center center , $black;
      background-size: cover;
      text-align: center;
      justify-content: space-around;
      color: $white;

      a {
      color: $white;
      opacity: .7;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;

    > div {
      padding: 1rem;
      width: 40%;
      border: 1px solid $black;
    }
  }
}

.fill {
  opacity: 1;
}

#mardownContainer {
  padding: 2em;
  box-shadow: 0 1rem 2rem lightgrey;
  width: 92%;
  margin: auto;

  p, img {
    margin: 1rem 0;
  }

  p {
    line-height: 1.5;
  }

  img {
    max-width: 100%;
    margin: 1rem auto;
    display: block;
    max-height: 60vh;
    box-shadow: 0 .25rem .5rem rgb(145, 145, 145);
  }
}
