.nuxt-content-highlight {
	@apply relative;

	.filename {
		color: white;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		@apply text-xs;

		// icon
		background-image: url(~assets/img/file-icon-dark.svg);
		padding: 0 8px 0 20px;
		background-repeat: no-repeat;
		background-position: center left 8px;
		background-size: auto 10px;
	}
}
