{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jquery": false,
    "node": false,
    "es6": true,
    "mocha": false
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-console": "warn",
    "valid-jsdoc": ["error", {
      "requireReturn": false,
      "requireReturnType": false,
      "requireParamDescription": false,
      "requireReturnDescription": false
    }],
    "indent": ["error", 2],
    "curly": ["error", "multi-line"],
    "space-infix-ops": ["error", {
      "int32Hint": false
    }],
    "no-multiple-empty-lines": ["error", {
      "max": 5,
      "maxEOF": 1
    }],
    "require-jsdoc": ["error", {
      "require": {
        "FunctionDeclaration": false,
        "MethodDefinition": false,
        "ClassDeclaration": false
      }
    }]
  },
  "settings": { "import/resolver": "webpack" }

}
