.cms-block {
	// font
	@apply text-lg font-normal;

	hr {
		@apply bg-black my-8 opacity-30;
		height: 2px;
	}

	blockquote {
		font-style: normal;
		border-left: 4px solid #ccc;
		@apply pl-2 text-lg;

		cite {
			@apply text-base opacity-50;
		}

		p {
			@apply italic;
		}
	}

	a {
		@apply underline;
	}

	ul,
	ol {
		list-style: initial;
		padding-left: 20px;
	}

	strong {
		@apply font-bold;
	}

	h1 {
		@apply text-5xl;
	}
	h2 {
		@apply text-4xl;
	}
	h3 {
		@apply text-3xl;
	}
	// h4 { @apply text-2xl; }
	// h5 { @apply text-xl; }

	h1,
	h2,
	h3 {
		// h4,
		// h5,
		// h6
		@apply font-bold;
	}

	* + {
		h1,
		h2,
		h3,
		h4,
		h5,
		h5,
		// pre,
		img,
		video,
		iframe,
		figure,
		blockquote,
		.twitter-tweet {
			margin-top: 1.5rem;
		}
	}

	* + {
		p {
			margin-top: 1rem;
		}
	}

	* + {
		li {
			margin-top: 0.5rem;
		}
	}

	img,
	iframe,
	video {
		@apply max-w-full mx-auto;
	}

	img,
	video {
		@apply h-auto;
	}

	.blocks-gallery-grid {
		padding: 0;
		list-style: none;
	}

	.lazyload[data-src]::before {
		content: "";
		display: block;
		// 16:9
		padding-top: 56.25%;
	}

	figcaption {
		@apply text-center mt-2 italic text-base;
	}

	iframe {
		min-width: 60%;
	}

	.sketchfab-embed-wrapper iframe {
		width: 100%;
	}

	// center tweet embed
	.twitter-tweet-rendered {
		@apply mx-auto;
	}

	.twitter-tweet:not(.twitter-tweet-rendered) {
		p {
			margin-top: 0;
		}

		@apply border-2 p-6 border-black rounded-lg;
	}

	.wp-block-table {
		table,
		th,
		td {
			@apply border-black border;
		}

		th,
		td {
			@apply px-4 py-4;
		}

		th {
			border-bottom-width: 2px;
			@apply border-black font-bold;
		}
	}
}
