<article class="project__fullcontent" id="market-me-ajax">
  <section class="sticky-header"></section>
  <section class="chapter intro">
    <div class="container">
      <h1 class="chapter__title">01 Introduction</h1>
      <ul class="project__infos">
        <li>
          <p class="title">context</p>
          <p class="name">Real world project</p>
        </li>
        <li>
          <p class="title">Date</p>
          <p class="name">July-September 2016</p>
        </li>
        <li>
          <p class="title">Role</p>
          <p class="name">Intern full stack developper</p>
        </li>
      </ul>
      <a class="visit" target="_blank" rel="noopener noreferrer" href="//market-me.fr">check the website</a>
      <img class="intro__preview" src="dist/media/img/intros/market-me-intro.png"></img>
    </div>

  </section>
  <section class="chapter home">
    <div class="container">
      <h1 class="chapter__title">02 Home & Search</h1>
      <img src="dist/media/img/project-screens/market-me/home-d.jpg" alt="" class="project-illu">
      <img src="dist/media/img/project-screens/market-me/search-d.jpg" alt="" class="project-illu">
      <img src="dist/media/img/project-screens/market-me/home-m.jpg" alt="" class="project-illu -m">
    </div>
  </section>
  <section class="chapter product">
    <div class="container">
      <h1 class="chapter__title">03 Product</h1>
      <img src="dist/media/img/project-screens/market-me/product-d.jpg" alt="" class="project-illu">
      <img src="dist/media/img/project-screens/market-me/product-m.jpg" alt="" class="project-illu -m">
    </div>
  </section>
  <section class="chapter concept">
    <div class="container">
      <h1 class="chapter__title">03 Concept</h1>
      <img src="dist/media/img/project-screens/market-me/illu-d.jpg" alt="" class="project-illu">
      <img src="dist/media/img/project-screens/market-me/graph.jpeg" alt="" class="project-illu">
    </div>
  </section>
  <section class="chapter payment">
    <div class="container">
      <h1 class="chapter__title">04 Payment</h1>
      <img src="dist/media/img/project-screens/market-me/payment-d.jpg" alt="" class="project-illu">
      <img src="dist/media/img/project-screens/market-me/payment-m.jpg" alt="" class="project-illu -m">
    </div>
  </section>


  <footer class="end-content">
    <div class="team">
      <li>
        <p class="title">Back-end Developper</p>
        <a class="name" target="_blank" rel="noopener noreferrer" href="http://www.hackhours.co/">Alexandre Autret</a>
      </li>
      <li>
        <p class="title">UI Designer</p>
        <a class="name" target="_blank" rel="noopener noreferrer" href="https://dribbble.com/barthelemychalvet">Barthelemy Chalvet</a>
      </li>
      <li>
        <p class="title">UX Designer</p>
        <a class="name" target="_blank" rel="noopener noreferrer" href="https://dribbble.com/marine_legrand">Marine Legrand</a>
      </li>
      <li>
        <p class="title">Front-end Developper</p>
        <a class="name" target="_blank" rel="noopener noreferrer" href="https://www.hopwork.fr/profile/leonardchalvet1">Léonard Chalvet</a>
      </li>
      <li>
        <p class="title">Marketing</p>
        <a class="name" target="_blank" rel="noopener noreferrer" href="https://dribbble.com/Atika">Atika Koffy</a>
      </li>
    </div>
    <div class="reengage">
      <a href="#" class="prev">previous</a>
      <a href="#" class="next">next</a>
    </div>
    <div class="logo">
      <svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412.17 464.41">
          <polygon class="cls-1" points="22.7 395.8 197.6 2 390 395.8 22.7 395.8"/><polyline class="cls-2" points="197.6 2 277 164.6 302.5 216.8"/><polyline class="cls-2" points="197.6 2 125.6 164.2 102.2 216.8"/><line class="cls-3" x1="125.6" y1="164.2" x2="277" y2="164.2"/><line class="cls-2" x1="125.6" y1="395.8" x2="277" y2="395.8"/><line class="cls-2" x1="277" y1="164.6" x2="125.6" y2="395.8"/><text class="cls-4" transform="translate(0 452.03)">ADRIEN Z</text><text class="cls-5" transform="translate(201.26 452.03)">A</text><text class="cls-4" transform="translate(229.87 452.03)">GANELLI</text></svg>
    </div>
  </footer>


</article>
