<article class="project__fullcontent" id="pulsar-one-ajax">
  <section class="sticky-header"></section>
  <section class="chapter intro">
    <div class="container">
      <h1 class="chapter__title">01 Introduction</h1>
      <ul class="project__infos">
        <li>
          <p class="title">context</p>
          <p class="name">Scholl project</p>
        </li>
        <li>
          <p class="title">Date</p>
          <p class="name">May 2016</p>
        </li>
        <li>
          <p class="title">Role</p>
          <p class="name">Lead developper</p>
        </li>
      </ul>
      <a class="visit" target="_blank" rel="noopener noreferrer" href="//pulsar.adrienzaganelli.com">check the website</a>
      <img class="intro__preview" src="dist/media/img/intros/pulsar-one-intro.png"></img>
    </div>

  </section>
  <section class="chapter interactive">
    <div class="container">
      <h1 class="chapter__title">02 Interactive Story</h1>
      <img src="dist/media/img/project-screens/pulsar-one/interface1.jpg" alt="" class="project-illu">
      <img src="dist/media/img/project-screens/pulsar-one/interface2.jpg" alt="" class="project-illu">
    </div>
  </section>
  <section class="chapter concept">
    <div class="container">
      <h1 class="chapter__title">03 Concept</h1>
      <img src="dist/media/img/project-screens/pulsar-one/concept1.jpg" alt="" class="project-illu">
      <img src="dist/media/img/project-screens/pulsar-one/concept4.jpg" alt="" class="project-illu">
      <img src="dist/media/img/project-screens/pulsar-one/concept2.jpg" alt="" class="project-illu">
      <img src="dist/media/img/project-screens/pulsar-one/concept3.jpg" alt="" class="project-illu">
    </div>
  </section>

  <footer class="end-content">
    <div class="team">
      <li>
        <p class="title">Javascript Developer</p>
        <a class="name" target="_blank" rel="noopener noreferrer" href="http://www.audeficheux.com/">Aude Ficheux</a>
      </li>
      <li>
        <p class="title">Sound & Game Designer</p>
        <a class="name" target="_blank" rel="noopener noreferrer" href="http://achappuy.com/">Aymeric Chappuy</a>
      </li>
      <li>
        <p class="title">Data Manager</p>
        <a class="name" target="_blank" rel="noopener noreferrer" href="http://jennyfermillet.com">Jennyfer Millet</a>
      </li>
      <li>
        <p class="title">Leader/UI Designer</p>
        <a class="name" target="_blank" rel="noopener noreferrer" href="http://suongkevintan.com/">Suong Kévin Tan</a>
      </li>
    </div>
    <div class="reengage">
      <a href="#" class="prev">previous</a>
      <a href="#" class="next">next</a>
    </div>
    <div class="logo">
      <svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412.17 464.41">
          <polygon class="cls-1" points="22.7 395.8 197.6 2 390 395.8 22.7 395.8"/><polyline class="cls-2" points="197.6 2 277 164.6 302.5 216.8"/><polyline class="cls-2" points="197.6 2 125.6 164.2 102.2 216.8"/><line class="cls-3" x1="125.6" y1="164.2" x2="277" y2="164.2"/><line class="cls-2" x1="125.6" y1="395.8" x2="277" y2="395.8"/><line class="cls-2" x1="277" y1="164.6" x2="125.6" y2="395.8"/><text class="cls-4" transform="translate(0 452.03)">ADRIEN Z</text><text class="cls-5" transform="translate(201.26 452.03)">A</text><text class="cls-4" transform="translate(229.87 452.03)">GANELLI</text></svg>
    </div>
  </footer>

</article>
