//// =======================================================================//
//   TEXT COLORS                                                           //
// =======================================================================//

$page-gradient: radial-gradient(80vh at center, #071629, #020C18), #071629;

$white: #fafafa;

$light: #EFEBE9;
$black: #3E2723;

$pimper: #D81B60;
// bootsrap link color
$blue: $pimper;
