//// =======================================================================//
//   TEXT COLORS                                                           //
// =======================================================================//

$page-gradient: radial-gradient(80vh at center, #071629, #020C18), #071629;
$pimper: #FF5252;

$black: #000;
$white: #FAFAFA;
$grey: #1c1f23;
$t-black: rgba(0, 0, 0, 0.15);

// $blue: #8f94fb;
