//// =======================================================================//
//   FONT FAMILY                                                           //
// =======================================================================//

$body-font: 'Avenir', 'Gill Sans', 'Arial', sans-serif;
$title-font: 'Georgia', sans-serif;


//// =======================================================================//
//   FONT SIZE:                                                            //
// =======================================================================//

$body-font-size: 1rem;
$headlines-font-size: 2rem;


//// =======================================================================//
//   TYPE SCALE (OPTIONNAL)                                                //
// =======================================================================//

$type-scale: (
  'h1': 3.157rem,
  'h2': 2.369rem,
  'h3': 1.777rem,
  'h4': 1.333em,
);

@mixin build-type-scale {
  @each $scale, $value in $type-scale {
    #{$scale} {
      font-size: $value;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
    line-height: 1.2;
  }
}
