$body-text-color: #000;
$page-gradient: radial-gradient(80vh at center, #071629, #020C18), #071629;
$pimper: #FF5252;

$black: #000;
$white: #FAFAFA;
$grey: #1c1f23;

$black-content: #252422;

$bg-base-fallback: #000;
